{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <main class="container py-5 text-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td class="text-start">Symbol</td>
                    <td class="text-end">Shares</td>
                    <td class="text-end">Price</td>
                    <td class="text-end">TOTAL</td>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td class="text-start">{{ transaction["symbol"] }}</td>
                    <td class="text-end">{{ transaction["shares"] }}</td>
                    <td class="text-end">{{ transaction["price"] | usd}}</td>
                    <td class="text-end">{{ transaction["value"] | usd}}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="3">Cash</td>
                    <td class="border-0 text-end">{{ current_cash | usd}}</td>
                </tr>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
                    <td class="border-0 w-bold text-end">$10,000.00</td>
                </tr>
            </tbody>
        </table>
    </main>

{% endblock %}
